#API token
public_key:xxxxxxxxxxxxxxxx
member_token:yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy

# Trello Resource
trello_account: MyTrelloAccountID #charlie123123
trello_board: MyBoardName #HelpCenter
trello_list_todo: MyTodolistName #todo
trello_list_ongoing: MyOngoingListName #ongoing

# String Type
# url | text
# if card.name is a url, parse host only
string_type: url

# External Command
# the following example will execute: /script/fetch_data.sh -u www.google.com (assume card.name is "www.google.com"
# ex. /script/fetch_data.sh -u
run_command: MyOSCommandOrScriptName
